<% include header %>
<div class="mx-auto border rounded myOwnDiv2">
    <div class="form-group">        
        <h1 style="margin-bottom:25px;" class="font-weight-light"> <%= item.Address %> </h1>
        <hr>
    </div>
    <div class="row" style="margin-bottom:20px; margin-top:25px;">
        <div class="col">
            <h3 class="font-weight-light">Temperature</h3>
        </div>
        <div class="col">
            <h3 class="font-weight-light"><%= item1.temperature %>&deg; F | <%= ((item1.temperature - 32) * 5/9).toFixed(2) %>&deg; C</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px; margin-top:15px;">
        <div class="col">
            <h3 class="font-weight-light">Feels Like</h3>
        </div>
        <div class="col">
            <h3 class="font-weight-light"><%= item1.apparentTemperature %>&deg; F | <%= ((item1.apparentTemperature - 32) * 5/9).toFixed(2) %>&deg; C</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col">
            <h3 class="font-weight-light">Sky</h3>
        </div>
        <div class="col">
            <h3 class="font-weight-light"><%= item1.summary %></h3>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col">
            <h3 class="font-weight-light">Wind</h3>
        </div>
        <div class="col">
            <h3 class="font-weight-light"><%= (item1.windSpeed).toFixed(1) %> mph</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col">
            <h3 class="font-weight-light">Humidity</h3>
        </div>
        <div class="col">
            <h3 class="font-weight-light"><%= (item1.humidity * 100).toFixed(1) %> %</h3>
        </div>
    </div>
    <div class="row" style="margin-bottom:40px;">
        <div class="col">
            <h3 class="font-weight-light">Precipitation</h3>
        </div>
        <div class="col">
            <h3 class="font-weight-light"><%= (item1.precipIntensity).toFixed(2) %> in</h3>
        </div>
    </div>
    <a class="btn btn-primary btn-lg" href="http://localhost:3000" role="button">Back</a>    
</div>
<% include footer %>